.input{
    background-color: whitesmoke;
    border: 0px;

}

.long{
    width: 220px;
}

.output{
    background-color: cornsilk;
}

.behind{
    position: absolute;    
    top: 7.4em;
    left: 230px;
;
}