.input{
    background-color: whitesmoke;
    border: 0px;

}

.long{
    width: 220px;
}

.output{
    background-color: cornsilk;
}

.behind{
    position: relative;    
    top: -3em;
    left: 230px;
;
}